*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}
body{
  background-color: #1f242d !important;
  color: white !important;

 
}

.bt{
  background-color: transparent !important;
}


.navbar-toggler {

  background-color: white !important;
  border: 3px solid #6EA0D1 !important;
}

.border-p{
  background-color: #6EA0D1 !important;
  color: #1f242d !important;
}
.border-ps{
  border:1px solid  #6EA0D1 !important;
  
}
.shd{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.shd2{
  box-shadow:  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}

.rd{
   border-radius: 38% 62% 35% 65% / 65% 49% 51% 35% !important;
}

.navbar-toggler-icon{
  color: white !important;
}

.gap{
    gap: 20px !important;
}
.bg-none{
  background-color: transparent !important;
}

.btn{
  background-color: #6EA0D1 !important;
  color: #1f242d !important;
  border: none !important;
  width: 35% !important;
  border-radius: 40px !important;
  font-weight: 700 !important;
  transition: all 0.5s !important;
  box-shadow: 0 0 10px #6EA0D1 !important;
  padding: 10px !important;
}
.btn:hover{
  background-color: #1f242d !important;
  color: #6EA0D1 !important;
  border: 1px solid #6EA0D1 !important;
} 

.prghover:hover{
  box-shadow: #6e7281 0px 3px 8px;
  transition: all 0.5s;
  transform: translate(0.5);
}

.color-g{
  color: #6EA0D1 !important;
}
.color-second{
  color: #424a5a !important;
}
.color-third{
  color: #53658a !important;
}

.nav-color:hover{
  color: #6EA0D1 !important;
  transition: all 0.5s;
}

.bg-gains{
  background-color: #323946 !important;
}
.bg-b{
  background-color: #1f242d !important;
}
.scale{
  transition: all 0.5s !important;
}

.scale:hover{
  transform: scale(1.04) !important;
  /* border: 1px solid #6EA0D1 !important; */
box-shadow: #6EA0D1 0px 3px 8px;
}
.color-nav{
  background-color:#323946 !important;
  color: #6EA0D1 !important;
  font-weight: 700 !important;
  
}
.content{
  background-color:#323946 !important;
 
}
.bg-bad{
  background-color: #6EA0D1;
}
/* .round{
  padding: 6px !important;
  background-color: #6EA0D1;
  border-radius: 50% !important;
  width: 3% !important;
  display: flex !important;
} */

.ri-circle-fill{
  color: #6EA0D1;
  display: inline-block !important;
}
.fontsize{
  /* font-size: 63px !important; */
  font-size: 20px !important;
}
.fontsize2{
  /* font-size: 63px !important; */
  font-size: 85px !important;
}
.fontsize3{
  /* font-size: 63px !important; */
  font-size: 58px !important;
}



.skills-inner:hover{
  color: #6EA0D1 !important;
  transition: all 0.5s !important;
  
}
::placeholder{
  color: #3a4252 !important;

}
.b-none{
  border: none !important;
}

.img-hover:hover{
    content: "hello guys" !important;
    background-color: bisque !important;
    width: 100% !important;
    height: 100% !important;
    transition: all 0.5s !important;
}

/* --------------------------padding-------------------------- */
.p-l{
  padding-left: 5px !important;
}
.p-r{
  padding-right: 10px !important;
}
.p-l-3{
  padding-left: 2% !important;
}
.p-t-5{
  padding-top: 12px !important;
}
.p-t2-5{
  padding-top: 15% !important;
}
.p-l-5{
  padding-left: 5% !important;
}
.p-u-5{
  padding-top: 5% !important;
}
.p-t-2{
  padding-top: 4% !important;
}
.p-t-1{
  padding-top: 1% !important;
}

.p-0{
  padding: 0px !important;
}

.round{
  border-radius: 50% !important;
  border: 1px solid #6EA0D1 !important;
  padding-left: 5px !important;
  background-color:#323946;

}

/* ---------------------------text------------------------ */

.text {
  width: 20ch;
  border-right: 2px solid;
  animation: blink 1s step-end infinite, type 2.5s steps(24) forwards;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
}

/* ----------------circuler-bar------------------------ */

   .skill-bg img:nth-child(2){
    position: absolute;
    top: 70%;
    right: 5px;
    transform: translateY(-50%);
  }
  .skill-bg img:nth-child(3){
    position: absolute;
    top: 110%;
    left: 300px;
    transform: translateX(-40%);
  }
  .skill-bg img:nth-child(4){
    position: absolute;
    top: 20%;
    left: 200px;
    transform: translateX(-50%);
  }
  
  
  .circle-container{
      width: 150px;
      height: 150px;
      background-color: #323946;
      
    }
  
  .circle-container .circle .item,
    .circle-container .circle .fill{
      width: 150px;
      height: 150px;
      position: absolute;
      border-radius: 50%;
    }
    
    .circle-container .circle .item{
      clip: rect(0px, 150px, 150px, 90px);
    }
    
    .circle-container .circle .item .fill{
      clip: rect(0px, 90px, 150px, 0px);
      background-color: #6EA0D1;
    }
    
    .circle-container .circle .item.layer-1,
    .circle-container .circle .fill{
      transform: rotate(153deg);
      animation: fill ease-in-out 3s;
    }
    

  @keyframes fill {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(153deg);
      }
    }

   .circle-container .circle .item1,
   .circle-container .circle .fill1{
      width: 150px;
      height: 150px;
      position: absolute;
      border-radius: 50%;
    }
    
    .circle-container .circle .item1{
      clip: rect(0px, 150px, 150px, 90px);
    }
    
    .circle-container .circle .item1 .fill1{
      clip: rect(0px, 90px, 150px, 0px);
      background-color: #6EA0D1;
    }
    
    .circle-container .circle .item1.layer-4,
    .circle-container .circle .fill1{
      transform: rotate(141deg);
      animation: fill1 ease-in-out 3s;
    }
    
    @keyframes fill1 {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(153deg);
      }
    }

.inside-content{
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: #323946;
      text-align: center;
      margin-top: 10px;
      margin-left: 10px;
      position: absolute;
      font-weight: 700;
      font-size: 32px;
      line-height: 130px;
}


/* From Uiverse.io by nikk7007 */ 



.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
  color: #6EA0D1 !important;
  /* font-weight: 700;
  color: var(--bs-nav-underline-link-active-color);
  border-bottom-color: currentcolor; */
}
/* ----------------------------------marqueee------------------ */
.skills-wrapper1 {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.skills-inner1 {
  display: flex;
  animation: scrollSkills1 6s linear infinite;
}

.skills-inner2 {
  display: flex;
  animation: scrollSkills1 6s linear infinite reverse;
}

.skills-box1 {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  align-items: center;
  border: 2px solid black;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 40px !important;
  /* margin: 35px !important; */
  margin-bottom: 20px;
}

.skills-box1 i {
  font-size: 40px;
}

.skills-box1 p {
  margin-top: 10px;
}

@keyframes scrollSkills1 {
  from{
   margin-left: -40%;
  }
  to{
    margin-left: 0;
  }
 
}



/* Custom Cursor */
.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #6EA0D1;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.2s;
}







/* From Uiverse.io by MikeAndrewDesigner */ 
.e-card {
  /* margin: 100px auto; */
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 240px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#53658a,#6EA0D1 60%,#323946);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* From Uiverse.io by Yaya12085 */ 
.code-editor {
  /* max-width: 400px; */
  background-color: #323946;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.title {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: rgb(212 212 212);
}

.icon {
  width: 20px;
  transition: .2s ease;
}

.icon:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #6e7281;
}

.editor-content {
  margin: 0 10px 10px;
  color: white;
}

.property {
  margin-left: 30px;
}

.property:hover {
  cursor: text;
}

.editor-content .color-0 {
  color: rgb(86 156 214);
}

.editor-content .color-1 {
  color: rgb(182 206 168);
}

.editor-content .color-2 {
  color: rgb(156 220 254);
}

.editor-content .color-3 {
  color: rgb(207 146 120);
}

.color-preview-1,.color-preview-2 {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 3px;
}

.color-preview-1 {
  background-color: #1d1e22;
}

.color-preview-1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.circle {
  padding: 0 4px;
}

.circle2 {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
.top {
  display: flex;
  align-items: center;
 
}
.shd:hover{
  box-shadow: #6EA0D1 0px 5px 15px;
}

/* -----------------skillsss-icon-hover-start----------------------------------- */

.box {
      flex: 1 1 15%;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px;
      padding: 20px;
      text-align: center;
      border: 10px solid medium-light-color;
      transition: all 0.3s ease-in;      
       

      .image{
        transition: all 0.3s ease-in-out 0.1s !important;
        img{
          max-width: 75px !important;
          object-fit: contain !important;
        }
      }

  
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 30px !important;
        transform: scale(1.0) !important;

        .image{
          transform: scale(1.5) translateY(-20px) !important;
          img{
            animation: bouncing 0.5s .3s !important; 
          }          
        }
      
      }
    }

    /* -----------------skillsss-icon-hover-end----------------------------------- */

    /* From Uiverse.io by ShrinilDhorda */ 
.btn3 {
  font-size: 1.2rem !important;
  border: none !important;
  outline: none !important;
  border-radius: 0.4rem !important;
  cursor: pointer !important;
  text-transform: uppercase !important;
  background-color: rgb(14, 14, 26) !important;
  color: rgb(234, 234, 234) !important;
  font-weight: 700 !important;
  transition: 0.5s !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding: 0px !important;
  box-shadow: none !important;
  }

.btn3:active {
  scale: 0.92 !important;
}

.btn3:hover {
  background: #6EA0D1 !important;
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%) !important;
  color: #323946 !important;
}




.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 600px;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	/* text-align: center; */

	margin: auto;
}


/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
