*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  background-color: #1f242d !important;
  color: white !important;
}

.navbar-toggler-icon{
  color: white !important;
}

.gap{
    gap: 20px !important;
}
.bg-none{
  background-color: transparent !important;
}

.btn{
  background-color: #7cf03d !important;
  color: #1f242d !important;
  border: none !important;
  width: 35% !important;
  border-radius: 40px !important;
  font-weight: 700 !important;
  transition: all 0.5s !important;
  box-shadow: 0 0 10px #7cf03d !important;
  padding: 10px !important;
}
.btn:hover{
  background-color: #1f242d !important;
  color: #7cf03d !important;
  border: 1px solid #7cf03d !important;
} 

.color-g{
  color: #7cf03d !important;
}

.nav-color:hover{
  color: #7cf03d !important;
  transition: all 0.5s;
}

.bg-gains{
  background-color: #323946 !important;
}
.bg-b{
  background-color: #1f242d !important;
}
.scale{
  transition: all 0.5s !important;
}

.scale:hover{
  transform: scale(1.04) !important;
  border: 1px solid #7cf03d !important;
  
}
.color-nav{
  background-color:#323946 !important;
  color: #7cf03d !important;
  font-weight: 700 !important;
  
}
.content{
  background-color:#323946 !important;
 
}
/* .round{
  padding: 6px !important;
  background-color: #7cf03d;
  border-radius: 50% !important;
  width: 3% !important;
  display: flex !important;
} */

.ri-circle-fill{
  color: #7cf03d;
  display: inline-block !important;
}
.fontsize{
  font-size: 63px !important;
}

.skills-inner:hover{
  color: #7cf03d !important;
  transition: all 0.5s !important;
  
}
::placeholder{
  color: #3a4252 !important;

}
.b-none{
  border: none !important;
}

/* --------------------------padding-------------------------- */
.p-l{
  padding-left: 5px !important;
}
.p-l-5{
  padding-left: 5% !important;
}
.p-u-5{
  padding-top: 5% !important;
}

.p-0{
  padding: 0px !important;
}

.round{
  border-radius: 50% !important;
  border: 1px solid #7cf03d !important;
}






