*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gap{
    gap: 20px !important;
}


.back1{
    background-color: #221f19bd;
}

/* .radius{
    border-radius:44% 56% 64% 36% / 58% 56% 44% 42%    ;
} */